body{
 background-color: #cce6ff;
 font-family: 'Courier New', Courier, monospace;
}
header{
 text-align: center;
 height: 100px;
 padding-top: 1px;
 background-color: #3399ff;
 color: #FFFFFF;
 font-size: x-large;
}
h3{
 margin-top: 2px;
 text-align: center;
 background-color: #80bfff;
}
form{
 width: 45%;
 display: block;
 margin: 20px;
}

#lookupResultsList{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#advLookupResultsList{
    display: grid;
    place-items: right;   
}

#mainview{
    display: grid;
    place-items: center;
}

footer{
 position: sticky;
 margin-top: 3%;
 text-align: center;
}