body{
 background-color: #cce6ff;
 font-family: 'Courier New', Courier, monospace;
}
header{
 text-align: center;
 height: 100px;
 padding-top: 1px;
 background-color: #3399ff;
 color: #FFFFFF;
 font-size: x-large;
}
h3{
 margin-top: 2px;
 text-align: center;
 background-color: #80bfff;
}
form{
 width: 45%;
 display: block;
 margin: 20px;
}

#lookupResultsList{
    overflow-y: scroll;
    height: 100px;
    padding-right: 15%;
    float: right;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    display: block;
}

footer{
 position: sticky;
 margin-top: 3%;
 text-align: center;
}